.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.footer-menu {
    margin-left:0;
    padding:0 0 30px 0;
}

.footer-menu li {
    display:inline;
    list-style-type:none;
}
.footer-menu li a {
    border-left:1px solid #404040;
    padding: 0 8px;
}
.footer-menu > li:first-child > a {
    border-left:none;
    padding:0 8px 0 0;
}


#logo{
    width: 80px;
}

#storename{
    font-size: 80px;    
}

table, tr, th, td {
    border: 0px solid black;
    padding: 10px;
}
tr:nth-child(even) 
{background: #CBC
}
tr:nth-child(odd) {
    background: #FFF
}

/*
 shopping cart table css
 */
 @import url(https://fonts.googleapis.com/css?family=Hind);

 body {
    font-family: 'Hind', sans-serif;
}

#shoppingCartContainer {
    background-color: #aabbff;
    float: right;
}

#shoppingCart {
    list-style-type: none;
}

#shoppingCart li {
    width: 100%;
}

#productTable{
    border: 1px solid black;
    float: left;
    width: 100%;
}

#productTable input {
    width: 60px;
}

